In [7]:
from urllib.request import urlopen
import pandas as pd
from bs4 import BeautifulSoup
import webbrowser
import requests
import lxml.html
import re
#from selenium import webdriver
import dart_fss as dart

In [8]:
import time

In [9]:
crp_list = dart.get_crp_list()
crp_list

Narket type: AllMkt
Number of companies: 2353

In [22]:
import re

In [25]:
len(crp_list.crp_list)

2353

In [26]:
crp_list.crp_list[2352].crp_cd

'331660'

In [27]:
api_key = 'api_key' #
#company_code = "005930"

In [11]:
df = pd.DataFrame(columns=['company_code','company_name','rcp_no'])

In [40]:
k = 0
#rcp_list = []
for c in crp_list:
    code = str(c)
    company_code = code[1:7] #기업코드
    company_name = code[8:] #기업명
    company_code = re.sub(";","",company_code) #세미콜론 제거
    url = "http://dart.fss.or.kr/api/search.xml?auth="+api_key+"&crp_cd="+company_code+"&start_dt=20110101&bsn_tp=A001"
    resultXML = urlopen(url)
    result = resultXML.read()
    xmlsoup = BeautifulSoup(result,'html.parser')
    tag_rcp_no = xmlsoup.findAll("rcp_no",string=True)
    if(len(tag_rcp_no)>0):
        for t in tag_rcp_no:
            df.loc[k,"company_code"] = company_code
            df.loc[k,"company_name"] = company_name
            df.loc[k,"rcp_no"] = t.get_text()
            k+=1
    else:
        df.loc[k,"company_code"] = company_code
        df.loc[k,"company_name"] = company_name
        df.loc[k,"rcp_no"] = 0
        k += 1
    #rcp_list.append(rcp_no)
    time.sleep(1)

In [41]:
df

             company_code company_name          rcp_no
company_code            3            3               3
3                  155660          DSR  20160330001425
0                  155660          DSR  20190329003198
1                  155660          DSR  20180330002370
2                  155660          DSR  20170330001011
...                   ...          ...             ...
18976              202960        판도라티비  20150925000267
18977              202960        판도라티비  20150925000262
18978              202960        판도라티비  20150601000250
18979              202960        판도라티비  20150331001668
18980              331660     한국미라클피플사  20191101000362

[18982 rows x 3 columns]

In [43]:
df.to_csv("company_info.csv",encoding="utf-8-sig")